<ion-header>
  <ion-toolbar class="too-bar-back">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>How To Bid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-back">
  <div class="about_text">
    <p class="section_title title-background">Step 1 - Register to live bidding</p>
    <p>First, create a <a href="/users/signup" target="_blank">free online account</a> and activate online bidding. You
      can choose your account type based on your requirement.</p>
    <p>පළමුවෙන්ම,<a href="/users/signup" target="_blank"> නොමිලේ Online ගිණුමක් සාදාගන්න.</a> ඔබේ අවශ්‍යතාවය අනුව ඔබේ
      ගිණුමේ වර්ගය තෝරා ගත හැකිය.</p>
    <p class="section_title title-background">Step 2 - Account activation and bid deposits</p>
    <p>We verify your account to ensure a transparent bidding experience and prevent fraud. Verification only takes a
      few minutes and gets you ready to bid online. Depending on your account type, you may be required to place a
      refundable deposit. Cash deposits must be made at least 24 hours before the auction. Once your deposit made,
      please send a copy of your payment slip with your NIC number to verify and activate the account.</p>
    <p>විනිවිද පෙනෙන ලංසු අත්දැකීමක් සහ වංචා වැළැක්වීම සඳහා ඔබගේ ගිණුම අපි තහවුරු කරමු. මෙම කාර්ය සදහා විනාඩි කීපයක් ගත
      වන අතර ඉන්පසු online ලංසු තැබීමට ඔබ සුදුස්සෙකු සේ සලකයි. ඔබගේ ගිණුමේ වර්ගය මත පදනම්ව, ආපසු ලබාදිය හැකි තැන්පතුවක්
      තැන්පත් කිරීමට අවශ්‍ය වේ . වෙන්දේසි කිරීමට පැය 24 කට පෙර මෙම ආපසු ලබාදෙන මුදල් තැන්පත් කළ යුතුය. මුදල් තැන්පත් කළ
      පසු, එය සනාථ කිරීමට bank slip පිටපතක් සමග ඔබගේ NIC අංකය සමඟ අපහට Viber, Whatsapp,E-mail හෝ වාහන අංගනයට පැමිණ
      ලබාදීම සිදු කල හැක.</p>
    <p>Bank Name : Branch : Account Number</p>
    <p>Viber/whatsapp : +94-77-5222-314</p>
    <p>E-mail : <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
        data-cfemail="9dfff4f9ddfce8e9f2fce8fee9f4f2f3b3f1f6">[email&#160;protected]</a></p>
    <p class="section_title title-background">Step 3 - Enter the auction on auction date</p>
    <p>On auction day, <a href="https://auction.autoauction.lk" target="_blank">sign in</a> to your account. Agree to
      the terms and conditions of bidding, then get ready to bid!</p>
    <p>වෙන්දේසි දිනයෙහි, <a href="https://auction.autoauction.lk" target="_blank">ඔබේ ගිණුමට log වන්න.</a> ලංසු තැබීමේ
      නියමයන් හා කොන්දේසි වලට එකඟ වන්න, පසුව ලංසු ඉදිරිපත් කිරීමට සූදානම් වන්න!</p>
    <p class="section_title title-background">Step 4 - Follow the bidding</p>
    <p>You will see the current high bid on your computer screen. When you place a bid, you are bidding at next
      increment bid. These numbers are updated in real time, so you can follow the auction as closely as someone bidding
      on-site.</p>
    <p>If you would like to place a bid, click ‘Bid' button with increment value. Your bid will be immediately relayed
      to the auctioneer. If someone outbids you, the message "Outbid – Bid Again" will appear.</p>
    <p>Bidding continues until no more bids are placed. If you are the highest bidder when the auctioneer says "Sold!"
      the message "Sold to You!" will appear on your screen. If highest bidding amount does not pass the reserve price,
      then vehicle will not be sold.</p>
    <p>ඔබගේ පරිගණක තිරයේ දැනට පවතින වැඩිම ලංසුව දැකගත හැකි වේ. මෙම සංඛ්යා real-time යාවත්කාලීන කරනු ඇත. ඔබ ලංසු තැබීමට
      කැමති නම්, 'Bid' බොත්තම ක්ලික් කරන්න. ඔබගේ ලංසුව වහාම වෙන්දේසි කරුවෙකුට යවනු ලැබේ. යමෙකු ඔබගේ ලංසුවට වඩා වැඩි
      ලන්සුවක් ඉදිරිපත් කළහොත්, "Outbid - Bid Again" යන පණිවිඩය දිස්වනු ඇත. එවිට ඔබට දැනට පවතින වැඩිම ලංසුවට වඩා වැඩි
      ලන්සු ඉදිරිපත් කල හැක. </p>
    <p>ලංසු ඉදිරිපත් කිරීම අවසානයේ වෙන්දේසිකරුවා "විකුණන ලදී Sold to you " කියන විට ඔබ ඉහළම ලංසුකරු වී සිටී නම් "ඔබ වෙත
      විකුණූ පණිවිඩය" ඔබේ තිරය මත දිස්වනු ඇත. එවිට වැඩිම ලන්සුව ඉදිරිපත් කල පුද්ගලයාගේ deposit මුදල රදවාගනු ලබන අතර
      අනෙක් අයගේ deposit මුදල් ලංසු තැබීම තව දුරටත් සිදු කිරීමට අදහස් නොකරන්නේනම් යලි ලබාගත හැක. වැඩිම ලංසු මුදල
      ප්‍රමාණවත් (if reserve price not met) නොවන්නේ නම්, වාහනය විකුණනු නොලැබේ. </p>
    <p class="section_title title-background">Step 5 - Pay and Collect your vehicles</p>
    <p>After the auction you will receive an invoice by email. When your invoice is paid in full, you can collect your
      vehicles and put them to work!</p>
    <p>වෙන්දේසියෙන් පසුව විද්යුත් තැපැල් මගින් ඉන්වොයිසියක් ලැබෙනු ඇත. එම ඉන්වොයිසිය සම්පූර්ණයෙන්ම ගෙවූ පසු , වාහනයේ
      හිමිකම ඔබට ලැබෙනු ඇත.</p>
    <br>
    <p>Please note that all our auction lanes follow <a href="/auctionconditions" target="_blank">AutoAuction general
        conditions.</a></p>
    <p>We Provide The Largest Selection Of Vehicles And Attract More Qualified Buyers Each Month. Find Your Next Car On
      Autoauction.</p>
  </div>
</ion-content>