.section_title {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #d0cbcb7a;
}

.section_subtitle {
    font-size: 0.9rem;
    font-weight: normal;
}

p {
    padding: 0 5%;
    line-height: 25px;
    color: white;
}

li {
    padding: 0 10%;
}