<ion-header>
  <ion-toolbar class="too-bar-back">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-back">
  <div class="section_title title-background" padding>A few words about us
    <div class="section_subtitle">Largest Automobile Auction Network in Sri Lanka</div>
  </div>
  <div class="about_text">
    <p>Our mission at Autoauction is to be your ultimate online auction solution for buying and selling new, certified
      and used vehiles. Our platform is designed to give you more control of the buying process and make finding a
      vehicle easier than ever before.</p>
    <p>Whether You're Shopping For A New, Certified Or Used vehicles, Our Platform Offers You These Benefits:</p>
    <li>The largest selection of vehicle inventory from dealers and private sellers</li>
    <li>The most comprehensive selection of buying and selling tips</li>
    <li>The most complete research and compare tools, including reviews, photos.</li>
    <li>Vehicle pricing, including starting price and dealer discounts</li>
    <li>Help with finance, insurance and warranty programs</li>
    <br>
    <p>Not sure which type of car you want? That's okay. Autoauction lets you research and compare new, certified and
      used cars by searching numerous criteria.</p>
    <p>AutoAuction conducts from premium vehicle auctions to salvage auctions regularly.</p>
    <p>We Provide The Largest Selection Of Vehicles And Attract More Qualified Buyers Each Month. Find Your Next Car
      On Autoauction.</p>
  </div>
</ion-content>