ion-card {
    height: 40%;
    margin: 0
}

ion-icon{
    font-size: 20px
}

.background-inventry {
    --background: linear-gradient(#3f6fce, #e3e3e3), linear-gradient(#ffffff, #e3e3e3);
}

.content-back {
    --background: linear-gradient(to right,#487fee,#32fa95)
}

.font-color-black {
    font-weight: 600;
    color: black;
}

.remaining-days {
    position: absolute;
    bottom: 5px;
    color: red;
}
