<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Auction-Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-list no-padding>
    <ion-card *ngFor="let data of vehicalList">
      <ion-grid style="height: 100%;">
        <ion-row style="height: 70%;">
          <ion-col size="6">
            <img style="width: 100%;" src={{data.img}} />
          </ion-col>
          <ion-col style="padding: 15px 0">
            <ion-row style="padding: 5px; font-weight: 800; font-size: 1rem;">
                <ion-card-title style="font-weight: bold">{{data.name}}</ion-card-title>
            </ion-row>
            <ion-row style="padding: 5px">
              <ion-icon name="speedometer" style="padding-right: 10px" color="primary"></ion-icon>
              <ion-label> {{data.milage}} Km</ion-label>
            </ion-row>
            <ion-row style="padding: 5px">
              <ion-icon name="car" style="padding-right: 10px" color="primary"></ion-icon>
              <ion-label> {{data.capacity}} CC</ion-label>
            </ion-row>
            <ion-row style="padding: 5px; font-weight: 800; color: black">
                <ion-icon name="pricetags" style="padding-right: 10px" color="primary"></ion-icon>
                <ion-label> {{data.price}} LKR</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
              
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>