<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color:white"></ion-back-button>
    </ion-buttons>
    <ion-title align="center" style="color:white;margin-right: 20%;">Auction Inventory</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="" padding>

  <ion-card [routerLink]="['/auction-inventory']">
    <img src="assets/general.png" />
    
    <div class="card-overlay">
      <div class="card-title" align="center">GENERAL AUCTION </div>
    </div>
  </ion-card>

  <ion-card [routerLink]="['/auction-inventory']">
    <img src="assets/premium.png" />
    <div class="card-overlay">
      <div class="card-title" align="center">PREMIUM AUCTION</div>
    </div>
  </ion-card>

  <ion-card [routerLink]="['/auction-inventory']">
    <img src="assets/commercial.png" />
    <div class="card-overlay">
      <div class="card-title" align="center">COMMERCIAL AUCTION</div>
    </div>
  </ion-card>

  <ion-card [routerLink]="['/auction-inventory']">
    <img src="assets/classic.png" />
    <div class="card-overlay">
      <div class="card-title" align="center">CLASSIC AUCTION</div>
    </div>
  </ion-card>

  <ion-card [routerLink]="['/auction-inventory']">
    <img src="assets/salvage.png" />
    <div class="card-overlay">
      <div class="card-title" align="center">SALVAGE AUCTION</div>
    </div>
  </ion-card>

  <ion-card [routerLink]="['/contact-us']">
    <img src="assets/advertist.png" />
    <div class="card-overlay">
      <div class="card-title" align="center">HOST YOUR AUCTION</div>
    </div>
  </ion-card>
</ion-content>
