<ion-header>
  <ion-toolbar class="too-bar-back ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auction-inventory" style="color:white" (click)="dissmiss();"></ion-back-button>
    </ion-buttons>
    <label>{{vehicleObj.index + 1}} of {{vehicleCount}}</label>
    <ion-button disabled="{{isPreviousDisable}}" slot="end" (click)="previousVehi()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-button>
    <ion-button disabled="{{isNextDisable}}" slot="end" (click)="nextVehi()">
      <ion-icon name="arrow-round-down"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin>
    <ion-slides pager="true">
      <ion-slide><img src="{{vehicleObj.img_url_1}}"></ion-slide>
      <ion-slide><img src="{{vehicleObj.img_url_2}}"></ion-slide>
      <ion-slide><img src="{{vehicleObj.img_url_3}}"></ion-slide>
    </ion-slides>
  </ion-card>

  <ion-item no-padding class="section-back">
    <ion-grid>
      <ion-row class="vehical-name">{{vehicleObj.name}}</ion-row>
      <ion-row class="small-font"><label class="ion-padding-end ion-text-nowrap" style="padding-left: 3%;">Auction ID :
        </label><label> {{vehicleObj.auctionId}}</label></ion-row>
      <ion-row class="small-font">
        <ion-col>
          <ion-icon name="pin"></ion-icon><a href="{{vehicleObj.locationMapUrl}}" class="underline ion-activatable hydrated">{{vehicleObj.locationCity}}</a>
        </ion-col>
        <ion-col class="ion-text-right">{{vehicleObj.formattedDate}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item no-padding>
      <label class="detail-property" style="margin: auto;">Starting Price</label>

      <ion-chip color="primary">
          <ion-icon name="pricetags" color="primary"></ion-icon>
          <ion-label>{{vehicleObj.startingPrice}} LKR</ion-label>
        </ion-chip>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <label class="detail-property">Make:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.make}}</label>
      </ion-col>
      <ion-col size="7">
        <label class="detail-property">Model:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.model}}</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <label class="detail-property">Year:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.year}}</label>
      </ion-col>
      <ion-col size="7">
        <label class="detail-property">Mileage:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.mileage}} Km</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <label class="detail-property">Engine:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.engine}} CC</label>
      </ion-col>
      <ion-col size="7">
        <label class="detail-property">Transmission:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.transmission}}</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <label class="detail-property">Fuel Type:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.fuel}}</label>
      </ion-col>
      <ion-col size="7">
        <label class="detail-property">Condition:</label> <label class="detail-value ion-text-nowrap"> {{vehicleObj.condition}}</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label class="detail-property">Leasing/Finance:</label> <label class="detail-value ion-text-nowrap"> 4,000,000 LKR</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label class="detail-property">Contact Number:</label> <label class="detail-value ion-text-nowrap"> +94-71-0952-444</label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center">
    <ion-button style="width: 65%" color="warning" (click)="onPrebidClick()">Pre Bid</ion-button>
  </ion-grid>
</ion-content>
