.vehical-name {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 2% 0;
}

.section-back {
    --background: #f3f3f3;
}

.small-font {
    font-size: 0.9rem;
}

.detail-property {
    color: #222222;
    font-weight: 600;
    margin-bottom: 18px;
}

.detail-value {
    margin-left: 5px;
    color: #646464;
    font-weight: 400;
}