<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Live Bidder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-back">
  <ion-toolbar class="content-back">
    <ion-item class="tool-bar-back" lines="none" style="font-size: 15px">
      <ion-badge color="warning" class=" margin-right">CH 1</ion-badge>
      <ion-badge color="danger" class=" margin-right">Offline</ion-badge>
      <ion-icon name="volume-high" color="primary" style="margin-right: 2.5%"></ion-icon>
      <ion-toggle color="success" class="margin-right"></ion-toggle>
      <ion-badge color="light" class=" margin-right">0000</ion-badge>
      <ion-buttons slot="end" class=" margin-right">
        <ion-icon name="power" color="danger"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>

  <ion-item lines="none" class="content-back" style="height: 5%;">
    <label class="ion-text-center status-panel">END</label>
  </ion-item>
  <ion-item lines="none" class="content-back">
    <img style="margin: auto;" src="assets/vehical1.png" />
    <div class="price">
      999.99
    </div>
  </ion-item>
  <ion-card margin-top no-margin style="margin-left: 4%; margin-right: 4%;">
    <ion-item lines="full">
      <ion-label>Decision</ion-label>
      <ion-label color="primary">Outbid - Bid Again</ion-label>
    </ion-item>
  </ion-card>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class="detail-cards">
        <ion-chip color="primary">
          <ion-icon name="car" color="primary"></ion-icon>
          <ion-label>Toyota Land Cruiser Prado</ion-label>
        </ion-chip>

        <ion-chip color="primary">
          <ion-icon name="calendar" color="primary"></ion-icon>
          <ion-label>2015</ion-label>
        </ion-chip>

        <ion-chip color="primary">
          <ion-icon name="speedometer" color="primary"></ion-icon>
          <ion-label>150,000KM</ion-label>
        </ion-chip>

        <ion-chip color="primary">
          <ion-icon name="fitness" color="primary"></ion-icon>
          <ion-label>Triptronic</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-icon name="cog" color="primary"></ion-icon>
          <ion-label>4800cc</ion-label>
        </ion-chip>

        <ion-chip color="primary">
          <ion-icon name="pint" color="primary"></ion-icon>
          <ion-label>Gasoline</ion-label>
        </ion-chip>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="detail-cards">
        <ion-chip color="primary" class="ion-text-justify" style="height: 100%;">
          Will be sold to the highest bidder if reserve met! Hello Will be sold to the highest bidder if reserve met!
          Hello Will be sold to the highest bidder if reserve met! Hello
        </ion-chip>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-button style="height: 12%; margin: 0 15px; font-size: 2rem;" color="danger" shape="round" expand="full">BID 5000
    LKR</ion-button>
  <ion-card>
    <ion-list>
      <ion-list-header>
        Now and Coming Up Next !
      </ion-list-header>

      <ion-item color="success">
        <ion-avatar slot="start">
          Now
        </ion-avatar>
        <ion-label>
          <h2>050</h2>
          <h3>Toyota Land Cruiser Prado</h3>
          <p>24,500,000</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          Next
        </ion-avatar>
        <ion-label>
          <h2>050</h2>
          <h3>Toyota Land Cruiser Prado</h3>
          <p>24,500,000</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          Next
        </ion-avatar>
        <ion-label>
          <h2>050</h2>
          <h3>Toyota Land Cruiser Prado</h3>
          <p>24,500,000</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          Next
        </ion-avatar>
        <ion-label>
          <h2>050</h2>
          <h3>Toyota Land Cruiser Prado</h3>
          <p>24,500,000</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>