ion-card-header {
    background-color: #F39C12;
    font-size: 1.5em;
}

ion-card-content{
    font-size: 1.5em;
}

ion-label{
    float: left;
    color: #4079CA;

}

ion-item{
    color: #09387C;
}