<ion-split-pane>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
          <img src="assets/aucato.png" style="width: 35%; margin: 0 3%;">
        <ion-buttons color="primary">
          <ion-title> {{email}}</ion-title>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon  slot="start" [name]="p.icon"></ion-icon>
            <ion-label >
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="logout()">
          <ion-icon slot="start" name="exit"></ion-icon>
          <span *ngIf = "isUserLoggedIn === true; else elseTag">Logout</span>
          <ng-template #elseTag>
            <span>LogIn</span>
          </ng-template>
        </ion-button>
      </ion-buttons>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-split-pane>
